<%#
name: RHEL_Server_Compliance
description: This partition scheme meets most major Compliance Profiles (CPGPC, DISA-STIG, CIS2, PCI-DSS, etc..).  Minimum 100GB disk required.
snippet: false
model: Ptable
os_family: Redhat
-%>
# This partition scheme meets most major Compliance Profiles (CPGPC, DISA-STIG, CIS2, PCI-DSS, etc..). 
# NOTE: requires 1st disk = 100G
 
zerombr
clearpart --all
 
part /boot --fstype ext4 --size=1024 --ondisk=<%= host_param('boot_disk') %>
part /boot/efi --fstype="efi" --size=2048 --ondisk=<%= host_param('boot_disk') %>
part pv.01 --size=1 --grow --ondisk=<%= host_param('root_disk') %>
<% pvs = [] -%>
<% if host_param('additional_disks') -%>
<% host_param('additional_disks').each do |disk| -%>
part pv.<%= disk[-3,3] %> --size=1 --grow --ondisk=<%= disk %>
<% pvs.push("pv." + disk[-3,3]) -%>
<% end -%>
<% end %>

volgroup vg_root pv.01 <%= pvs.join(' ') %>

logvol swap --recommended --vgname=vg_root --name=lv_swap
logvol /tmp  --vgname=vg_root --size=1024 --name=lv_tmp --fstype=xfs
logvol /var/tmp  --vgname=vg_root --size=1024 --name=lv_var_tmp --fstype=xfs
logvol /var/log --vgname=vg_root --size=6144 --name=lv_var_log --fstype=xfs
logvol /var/log/audit --vgname=vg_root --size=1024 --name=lv_var_audit --fstype=xfs
logvol /var --vgname=vg_root --size=32768 --name=lv_var --fstype=xfs
logvol /  --vgname=vg_root --size=32768 --name=lv_root --fstype=xfs
logvol /home  --vgname=vg_root --size=10240 --name=lv_home --fstype=xfs
logvol /data  --vgname=vg_root --size=32768 --name=lv_data --fstype=xfs