<%#
name: RHEL_Server_Compliance
description: This partition scheme meets most major Compliance Profiles (CPGPC, DISA-STIG, CIS2, PCI-DSS, etc..).  Minimum 100GB disk required.
snippet: false
model: Ptable
os_family: Redhat
-%>
# This partition scheme meets most major Compliance Profiles (CPGPC, DISA-STIG, CIS2, PCI-DSS, etc..). 
# NOTE: requires 1st disk = 120G
# NOTE: requires 2nd disk = 50G


zerombr
clearpart --all
 
part /boot --fstype ext4 --size=1024 --ondisk=<%= host_param('boot_disk') %>
part /boot/efi --fstype="efi" --size=2048 --ondisk=<%= host_param('boot_disk') %>
part pv.01 --size=1 --grow --ondisk=<%= host_param('root_disk') %>
<% pvs = [] -%>
<% if host_param('additional_disks') -%>
<% host_param('additional_disks').each do |disk| -%>
part pv.<%= disk[-3,3] %> --size=1 --grow --ondisk=<%= disk %>
<% pvs.push("pv." + disk[-3,3]) -%>
<% end -%>
<% end %>

volgroup vg_root pv.01 <%= pvs.join(' ') %>

logvol swap                        --vgname=vg_root --recommended --name=lv_swap
logvol /tmp           --fstype=xfs --vgname=vg_root --size=6144  --name=lv_tmp
logvol /var/tmp       --fstype=xfs --vgname=vg_root --size=6144  --name=lv_var_tmp
logvol /var/log       --fstype=xfs --vgname=vg_root --size=6144  --name=lv_var_log
logvol /var/log/audit --fstype=xfs --vgname=vg_root --size=6144  --name=lv_var_audit 
logvol /              --fstype=xfs --vgname=vg_root --size=65536 --name=lv_root
logvol /home          --fstype=xfs --vgname=vg_root --size=10240 --name=lv_home
logvol /var           --fstype=xfs --vgname=vg_root --size=1     --name=lv_var  --grow --maxsize=256000
logvol /data          --fstype=xfs --vgname=vg_root --size=32768 --name=lv_data